
@using AppWeb.Models.ViewModels.Administrador
@model EmpresaViewModel
@{
    Layout = "~/Views/Administrador/_LayoutAdministrador.cshtml";
}

@section Head{
}

<div id="createEmpresa" class="col-sm-12 invisible">
    <h1 class="titulo text-center">Crear Empresa</h1>
    <div class="bg-secondary rounded h-100 p-4 col-xl-10" style="margin:auto;">
        <form action="@Url.Action("CreateEmpresa","Administrador")" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Nombre" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 col-xl-12 ">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Rut" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 col-xl-12">
                    <input asp-for="Rut" class="form-control" />
                    <span asp-validation-for="Rut" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Direccion" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 col-xl-12">
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Rubro" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 col-xl-12">
                    <input asp-for="Rubro" class="form-control" />
                    <span asp-validation-for="Rubro" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 col-xl-12">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Telefono" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 col-xl-12">
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    <button id="btnCreate" type="submit" name="Submit" class="btn btn-primary btnCreate float-right ">Registrar</button>
                    <a id="btnCancel" class="btn btn-primary btnRead float-left" href='@Url.Action("IndexAdmCliente","Administrador")' role="button">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="updateEmpresa" class="col-sm-12 invisible ">
    <h1 class="titulo text-center">Modificar Empresa</h1>
    <div class="bg-secondary rounded h-100 p-4 col-xl-10" style="margin:auto;">
        <form action="@Url.Action("UpdateEmpresa","Administrador")" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-3 invisible">
                <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12 ">
                    <input asp-for="Id" value="@ViewBag.Empresa.Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
                <label asp-for="Nombre" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12">
                    <input asp-for="Nombre" value="@ViewBag.Empresa.Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
                <label asp-for="Rut" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12">
                    <input asp-for="Rut" value="@ViewBag.Empresa.Rut" class="form-control" />
                    <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
                <label asp-for="Direccion" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12">
                    <input asp-for="Direccion" value="@ViewBag.Empresa.Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
                <label asp-for="Rubro" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12">
                    <input asp-for="Rubro" value="@ViewBag.Empresa.Rubro" class="form-control" />
                    <span asp-validation-for="Rubro" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12">
                    <input asp-for="Email" value="@ViewBag.Empresa.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Telefono" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12">
                    <input asp-for="Telefono" value="@ViewBag.Empresa.Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
                <label asp-for="Estado" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 col-xl-12">
                    <select class="form-select" id="comboEstadoEmpresa" asp-for="Estado">
                            <option value="0">Inactiva</option>
                        <option value="1">Activa</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <button id="btnCreate" type="submit" name="Submit" class="btn btn-primary btnCreate float-right ">Guardar</button>
                <a id="btnCancel" class="btn btn-primary btnRead float-left" href='@Url.Action("IndexAdmCliente","Administrador")' role="button">Cancelar</a>
            </div>
        </div>
        </form>
    </div>
</div>
<input value="@ViewBag.Empresa.Estado" id="estadoEmpresax" class="form-control invisible" />
<input value="@ViewBag.Empresa.Id" id="idEmpresax" class="form-control invisible" />
@section Scripts{
    <script src="~/js/Administrador/AdministradorEmpresa.js"></script>
}

